body {
    margin: 0;
    color: #222;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.navigation {
    display: flex;
    padding: 12px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.nav-link {
    display: inline-block;
    padding: 12px;
}

.sign-in {
    color: white;
    background-color: #2976db;
    border-radius: 4px;
    min-width: 60px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}

.sign-in:hover {
    background-color: #2b7de9;
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    .shove-right {
        margin-left: auto;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-button {
    display: inline-block;
    padding: 8px;
    margin: 12px;
    color: #222;
    background-color: rgb(247, 247, 247);
    border-radius: 4px;
    min-width: 60px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
}
.footer {
    display: flex;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    width: 100%;
    border-top: 1px solid rgb(199, 199, 199);
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(247, 247, 247);
}

.footer-div-left {
    align-self: flex-start;
}

@media only screen and (min-width: 800px) {
    .footer-div-right {
        margin-left: auto;
    }
}

.footer-link {
    display: inline-block;
    padding: 20px;
}